/* Pour la zone d'affichage des messages */
.messagesContainer {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5vw;
}

/* Pour les messages des autres*/

.messageContainerOthers {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: start;
  flex-direction: column;
}

.greenContainerOthers {
  background-color: rgb(89, 247, 41);
  width: auto;
  max-width: 800px;
  padding: 12px;
  border-radius: 12px 12px 12px 0px;
  margin-bottom: 8px;
  margin-left: 22px;
}

.greenContainerOthers p {
  color: white;
  font-weight: bold;
}

.messageContainerOthers img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(89, 247, 41);
  padding: 3px;
  margin-right: 10px;
}

.infoMessageOthers {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.infoMessageOthers p {
  font-weight: bold;
  word-wrap: break-word;
}

/* Pour les messages de l'utilisateur*/

.messageContainer {
  width: 100%;
  margin-top: 16px;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.whiteContainer {
  background-color: white;
  width: auto;
  max-width: 800px;
  padding: 12px;
  border-radius: 12px 12px 0px 12px;
  margin-bottom: 8px;
  margin-right: 22px;
  border: 2px solid rgb(89, 247, 41);
}

.messageContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(89, 247, 41);
  padding: 3px;
  margin-left: 10px;
}

.infoMessage {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
}
.infoMessage p {
  font-weight: bold;
  word-wrap: break-word;
}

/* Pour la zone d'envoie de message */
.messageSendZone {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSendMessage {
  width: 85vw;
  height: 5vh;
  border: none;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-radius: 50px 0px 0px 50px;
  padding-left: 15px;
}

.buttonSendMessage {
  background-color: transparent;
  width: 5vw;
  height: 5vh;
  border: none;
  border-radius: 0px 50px 50px 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttonSendMessage:hover {
  background-color: rgb(89, 247, 41);
  color: white;
  transition: all 0.2s ease-in-out;
  border-color: rgb(89, 247, 41);
}
